@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
	@font-face {
		font-family: 'LINESeedJP';
		src: url('/fonts/LINESeedJP_OTF_Rg.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'LINESeedJP';
		src: url('/fonts/LINESeedJP_OTF_Bd.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	body {
		@apply font-line p-5 leading-6 m-auto text-left break-words;
		max-width: 80ch;
		margin: auto;
	}
	h1 {
		@apply text-3xl font-bold text-gray-900 mt-6 mb-2;
	}
	h2 {
		@apply text-2xl font-bold text-gray-900 mt-5 mb-2;
	}
	h3 {
		@apply text-xl font-bold text-gray-900 mt-4 mb-1;
	}
	h4 {
		@apply text-lg font-bold text-gray-900 mt-3 mb-1;
	}
	h5 {
		@apply text-base font-bold text-gray-900 mt-2 mb-1;
	}
	h6 {
		@apply text-sm font-bold text-gray-900 mt-1 mb-1;
	}
	pre {
		@apply rounded-md mt-3 mb-3 px-4 py-3;
	}
	a {
		@apply text-blue-400;
	}
	code {
		@apply mx-0.5 px-1 bg-gray-200 text-pink-600;
		font-size: calc(var(--text-size, 1rem) * 0.9);
	}	
	pre > code {
		all: unset;
	}
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
