---
import { SITE_DOMAIN } from "../consts";
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

const isExternal = href instanceof URL 
    ? href.hostname !== SITE_DOMAIN 
    : (typeof href === 'string' ? !href.includes(SITE_DOMAIN) : true);

---
<a 
    href={href} 
    target={isExternal ? '_blank' : '_self'} 
    {...(isExternal ? {'rel' : 'noopener'} : {})}
    {...props}
>
    <slot />
</a>
