---
const today = new Date();
---
<footer class="p-10 text-center leading-loose">
	<div>
		<a href="https://github.com/yken2257" class="text-gray-500 hover:text-gray-950" target="_blank">
			<i class="fa-brands fa-github fa-xl px-1.5"></i>
		</a>
		<a href="https://www.linkedin.com/in/kento-yoshida" class="text-gray-500 hover:text-indigo-600" target="_blank">
			<i class="fa-brands fa-linkedin fa-xl px-1.5"></i>
		</a>
		<a href="/rss.xml" class="text-gray-500 hover:text-amber-600" target="_blank">
			<i class="fa-solid fa-square-rss fa-xl px-1.5"></i>
		</a>
		<a href="https://instagram.com/kkenyoshi" class="text-gray-500 hover:text-pink-500" target="_blank">
			<i class="fa-brands fa-instagram fa-xl px-1.5"></i>
		</a>
		<a href="https://twitter.com/kkenyoshi" class="text-gray-500 hover:text-blue-500" target="_blank">
			<i class="fa-brands fa-twitter fa-xl px-1.5"></i>
		</a>
	</div>
	<div class="text-gray-500">
		&copy; {today.getFullYear()} SHIRO SPACE. All rights reserved.
	</div>
	
</footer>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
