---
import FormattedDate from './FormattedDate.astro'; 

export interface Props {
	date: Date;
	slug: string;
	title: string;
	description: string;
}

const { date, slug, title, description } = Astro.props;
---

<div class="card mb-3">
	<div class="card-body">
		<h3 class="card-title"><a href={`/blog/${slug}/`} class="stretched-link">{title}</a></h3>
		<h4 class="card-subtitle mb-2 text-muted">
			<i class="fa-regular fa-clock"></i>
			<FormattedDate date={date} />
		</h4>
		<p class="card-text text-muted">{description}</p>
	</div>
</div>

<style>
	h4 {
    	font-size : 18px;
		font-weight: regular;
	}
	.card {
		border-radius: 10px;
	}
	.card-title {
		font-weight: bold;
	}
	.card-title a {
		color: var(--primary);
		text-decoration: none;
	}
	.card-title a:hover {
		text-decoration: underline;
	}
</style>